a:hover
{
    color:white;
}
a:visited {
    color: white;
}
a:link {
    color: white;
}
body
{
    background-color:purple;
    color:white;
    font-size:40px;

}
#calosc
{
    position:center;
    width:100%;
    height:80%;
}
#lewa {
    float: left;
    background: blue;
    width: 30%;
    height: 60%;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 5%;
}
#oceny {
    float: left;
    background: blue;
    width: 30%;
    height: 60%;
    text-align: center;
    padding-top: 7%;
    padding-bottom: 7%;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
#kreator {
	float:right;
    background: blue;
    width: 30%;
    height: 60%;
    text-align: center;
    padding-top: 18%;
    padding-bottom: 17.5%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 5%;
}
#wglad {
	float:right;
    background: blue;
    width: 30%;
    height: 100%;
    text-align: center;
    padding-top: 7%;
    padding-bottom: 7%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 5%;
}