a:hover
{
    color:#BEC3C7;
}
a:visited {
    color:#BEC3C7;
}
a:link {
    color:#BEC3C7;
}
body
{
    background-color:#4B0081;
    color:white;
    font-size:40px;

}
#oceny {
    float: left;
    background:#003152;
    width: 30%;
    height: 60%;
    text-align: center;
    padding-top: 7%;
    padding-bottom: 7%;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
#kreator {
	float:right;
    background:#003152;
    width: 30%;
    height: 60%;
    text-align: center;
    padding-top: 18%;
    padding-bottom: 17.5%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 5%;
}
#wglad {
	float:right;
    background:#003152;
    width: 30%;
    height: 100%;
    text-align: center;
    padding-top: 7%;
    padding-bottom: 7%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 5%;
}
#oceny:hover
{
	transform: scale(1.05);
}
#wglad:hover
{
	transform: scale(1.05);
}
#kreator:hover
{
	transform: scale(1.05);
}