a:hover
{
    color:#BEC3C7;
}
a:visited 
{
    color:#BEC3C7;
}
a:link 
{
    color:#BEC3C7;
}
body {
    background-color: #232b94;
    color:#BEC3C7;
    font-size: 40px;
}
#naglowek{
    height: 20%;
    color:#BEC3C7;
}
#nag1 {
    float: left;
    margin-top: 5%;
    margin-left:15%;
}
#nag2 {
    float: left;
}
#box {
    float: left;
    background: #070E6A;
    width: 30%;
    height: 60%;
    text-align: center;
    padding-top: 8%;
    padding-bottom: 8%;
    padding-left: 5%;
    padding-right: 4%;
    margin-top: 5%;
    margin-left: 6%;
    margin-right: 5%;
    transition: 0.5s ease;
}
#box:hover
{
    transition: 0.5s ease;
	transform: scale(1.05);
}
#log {
    text-align: center;
    background: #070E6A;
    margin-left: 35%;
    margin-right: 35%;
    padding:3%
}
label{
    display:block;
    font-size:30px;
    height:20px;
}
#login, #password {
    font-size: 20px;
    margin: 20px;
    padding: 10px;
    background: #BEC3C7;
    font-weight: bold;
    border: 1px solid #BEC3C7;
    color: #070E6A;
}
input[type="submit"] {
    width: 150px;
    padding: 10px;
    color: #BEC3C7;
    background: #232b94;
    font-size: 25px;
    border: 1px solid #232b94;
}
input[type="submit"]:hover{
    transform:scale(1.05);
}