body {
    background-color: #232b94;
    color: #BEC3C7;
    font-size: 40px;
}
#tab{
    margin-left:35%;
}
#tabela {
    padding: 20px;
    border: 4px solid #232b94;
}
#tabela td{
    padding:10px;
    font-size:40px;
    border: 4px solid #070E6A;
}
a:link 
{
    color:#BEC3C7;
}