a:hover
{
    color:#BEC3C7;
}
a:visited {
    color: #BEC3C7;
}
a:link {
    color: #BEC3C7;
}
body
{
    background-color:#4B0081;
    color:white;
    font-size:40px;

}
#calosc
{
    position:center;
    width:100%;
    height:80%;
}
#wyebaneokno {
    float: left;
    background: #003152;
    width: 50%;
    height: 100%;
    text-align: center;
	border-top: 5%;
    padding-top: 20%;
    padding-bottom: 20%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 5%;
}
#prawa {
    float: left;
    background: #4B0081;
    width: 10%;
    height: 100%;
    text-align: center;
	margin-right: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
}
#tajmer{
	float: left;
    background: #003152;
    width: 50%;
    height: 40%;
    text-align: center;
    padding-top: 85%;
    padding-bottom: 85%;
    padding-left: 60%;
    padding-right: 110%;
    margin-bottom: 15%;
	margin-right: 10%;
	margin-left 10%;

}
#nrabumu{
	float: left;
    background: #003152;
    width: 50%;
    height: 40%;
    text-align: center;
    padding-top: 85%;
    padding-bottom: 85%;
    padding-left: 60%;
    padding-right: 110%;
    margin-top: 13.1%;
	margin-right: 10%;
	margin-left 10%;

}
