a:hover
{
    color:#BEC3C7;
}
a:visited 
{
    color:#BEC3C7;
}
a:link 
{
    color:#BEC3C7;
}
body
{
    background-color:#4B0081;
    color:white;
    font-size:40px;

}
#box
{
    float: left;
    background: #003152;
    width: 30%;
    height: 60%;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
	margin-top:10%;
	margin-left:5%;
	margin-right:5%;
}
#box:hover
{
	transform: scale(1.05);
}
